h1{
    text-align: center;
    border: 2px solid black;
    padding: 2px;
    background-color: green;
    color: honeydew;
}
div{
    display: flex;
}
.one{
    height: 200px;
    width: 337px;
    margin-top: 0px;
}